html,body,#map{
    height: 100%;
    margin: 0;
    }



    .layercontrol{
        position: absolute;
        top: 500px;
        right: 15px;
        z-index: 1000;
        background-color: white;
        border-radius: 10%;
        font-size: 12px;
    }

    .latlng_view{
        position: absolute;
        top: 20px;
        right:10px;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 30px;
        z-index: 1000;
        border: 1px solid #0a0909;
        background-color: rgb(254, 254, 254);
        border-radius: 5px;
        padding: 0 10px;
        font-size: 14px;
    }